body {
  background-color: yellow;

  display: flex;
  backface-visibility: hidden;
}

.block {
  width: 600px;
  height: 200px;
  background-color: red;
}

#btn {
  width: 200px;
  height: 200px;
  background-color: teal;
}